

<app-breadcrumb [item_breadcrumb]="item_breadcrumb"></app-breadcrumb>
  <div class="container py-4">
    <div class="logo-header mb-4">
      <img
        src="assets/images/logo_quaeroquesto.png"
        alt="QuaeroQuesto Logo"
        class="logo-small"
      />
    </div>

    <div id="titre" class="p-4 mb-4 bg-light rounded-3">
      <div class="container-fluid py-4">
        <h1 class="display-5">Module 1</h1>
        <h1 class="col-md-12">Création intuitive de questionnaires, assistée par IA</h1>
      </div>
    </div>

    <div class="content-layout">
      <div class="progress-section">
        <div class="progress-container">
          <h2 class="progress-title">Etat d'avancement des développements</h2>
          <div class="progress">
            85%
          </div>
        </div>
      </div>

      <div class="sections-container">
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 rounded-3 bg-section-one">
              <h2>Fonctionnalités Principales</h2>
                <ul>
                  <li>Interface de conception fluide, multilingue et responsive.</li>
                  <li>Large choix de types de questions : textes, échelles, choix multiples, matrices.</li>
                  <li>Gestion avancée des liens et dépendances entre questions.</li>
                  <li>Collaboration en temps réel entre plusieurs utilisateurs.</li>
                </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="h-100 p-5 rounded-3 bg-section-two">
              <h2>Apports de l'IA</h2>
                <ul>
                  <li>Génération automatique de questionnaires complets à partir d'un thème, d'un objectif ou d'un jeu de données existant.</li>
                  <li>Reformulation et amélioration linguistique des questions pour plus de clarté et d'équilibre cognitif.</li>
                  <li>Suggestions dynamiques de types de questions selon le contexte et la finalité de l'enquête.</li>
                  <li>Détection de biais et recommandations pour garantir la neutralité du questionnement.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
</div>
    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2026
    </footer>
