body {
  background: linear-gradient(135deg, var(--background-light) 0%, #e0e7ff 100%);
  min-height: 100vh;
  height: calc(100vh - 64px);
  position: relative;
  overflow-x: hidden;
}


body > div {
  position: relative;
}

.toolbox {
  display: block;
  position: fixed;
  left: 0;
  width: auto;
  top: 35%;
}

.li-toolbox {
  margin-left: -32px;
  list-style-type: none;
}

.icon-toolbox{
  background-color: #667eea;
  border: 1px solid gray;
  font-size: 72px!important;
  width: 100px;
  height: 100px;
  line-height: 100px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  text-align: center;
  margin-right: 10px;

}

.text-side-icon {
    display: none; /* Par défaut, masqué */
    margin-top: 35px;
    font-size: 18px;
}

.icon-toolbox:hover + .text-side-icon{
  display: block;
}



.color1{
  background-color: #667eea;
  color: white;
}

.color2{
  background-color: #e0f2fe ;
}

.color3{
  background-color: #c8f4e5;
}
.color0{
  background-color: whitesmoke;
}